.site {

	overflow: hidden;
}

.site-content {

	&--reverse {

		display: flex;
		flex-direction: column-reverse;
	}
}

.overflow {

	overflow: hidden;
}

.hidden {

	display: none;
}

.d-flex {

	display: flex;
}

.flex-column-reverse {

	flex-direction: column-reverse !important;
}

.vawe-deco {

	position: relative;
	z-index: 10;

	&::before,
	&::after {

		content: '';
		position: absolute;
		top: -6px;
		left: 0;
		height: 7px;
		width: 100%;
		background-image: var(--bg-image, url('../img/vawe-menu.png'));
		background-repeat: repeat-x;
		background-position: center;
		background-size: contain;
		z-index: 1;

		@media (max-width: 991.98px){
			
			height: 6px;
			top: -5px;
		}

		@media (max-width: 575.98px){
			
			height: 5px;
			top: -4px;
		}

		@media (max-width: 480px){
			
			height: 4px;
			top: -3px;
		}
	}

	&::after {

		top: auto;
		bottom: -6px;
		transform: scaleY(-1);

		@media (max-width: 991.98px){
			top: auto;
			bottom: -5px;
		}

		@media (max-width: 575.98px){
			top: auto;
			bottom: -4px;
		}

		@media (max-width: 480px){
			top: auto;
			bottom: -3px;
		}
	}

	&--inset {

		&::before {

			top: 0;
			transform: scaleY(-1);

			@media (max-width: 991.98px){
				top: 0;
			}

			@media (max-width: 575.98px){
				top: 0;
			}

			@media (max-width: 480px){
				top: 0;
			}
		}

		&::after {

			top: auto;
			bottom: 0px;
			transform: scaleY(1);

			@media (max-width: 991.98px){
				top: auto;
				bottom: 0px;
			}

			@media (max-width: 575.98px){
				top: auto;
				bottom: 0px;
			}

			@media (max-width: 480px){
				top: auto;
				bottom: 0px;
			}
		}
	}
	
}

/* Text meant only for screen readers. */
.screen-reader-text {

	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}
